<h1>Listado de artículos</h1>

<p>
  <% @xs.order(prioridad: :desc, nombre: :asc).each do |cuento| %>
      <%=cuento.prioridad%>&nbsp;<%= link_to cuento.nombre, cuento %>
      <br>
  <% end %>
</p>

