<% importJS "backupDownload" %>

<div class="texto_info texto_info-margins">
  <h1>Generando backup</h1>
  <p>Ha comenzado el proceso de creación del backup. Se descargará en breve cuando termine.</p>
  <p>Si la descarga no comienza automáticamente, <%= link_to "haz clic aquí", create_backup_path, style: "" %>.</p>
  <p>Si el proceso tarda demasiado, entonces avisa al administrador.</p>
  <p>Si el administrador no contesta, entonces te quedas sin backup.</p>
</div>