<%
    base_color = x.color.delete("#")
    r, g, b = base_color.scan(/../).map { |c| c.to_i(16) }
    luminance = (0.299 * r + 0.587 * g + 0.114 * b)
    text_color = luminance > 128 ? "#000000" : "#FFFFFF"
%>

<span class="etiqueta" style="background-color: <%= x.color %>; color: <%= text_color %>; border-color: <%= text_color %>;">
    <%= x.nombre %>
</span>