<a
    class="<%= local_assigns[:cssclass] || "" %>"
    target="_blank" <%# target="_blank" : nueva pestaña del navegador %>
    href="<%= image.present? ? image.url : "#" %>"
    >
    <%= render "shared/image", image: image %>
</a>