<h2>All images</h2>

<div class="grid-container">
    <% Image.all.each do |x| %>
        <div>
            <%= link_to x.nombre, x%>
            <div class="clase-picture">
                <%= render "image", image: x%>
            </div>
        </div>
    <% end %>
</div>

