<div class="texto_info texto_info-margins">

<h1>Ayuda para nuevos jugadores</h1>

<p> Bienvenido a <strong>Varacia</strong>. Esta es una pequeña guía para ayudarte a crear un nuevo
    personaje. En este rol existen muchísimas clases, habilidades ítems entre los escoger, por lo
    que puede ser abrumador para novicios. Aquí te guiamos un poco recomendarte aquellos que te 
    podrían resultar más atractivos para probar primero. </p>

<p> Primero entender que, no es para nada necesario leer esta guía. Si quieres puedes simplemente
    echar un vistazo las clases, habilidades e ítems que hay por tu cuenta y mirar por tí mismo
    qué tipo de personaje quieres crear. </p>

<p> Bueno, además de esto, recuerda que debes de haber leído las <a href="/reglas">reglas</a>.
    Si no lo has hecho, échales un vistazo antes de continuar. </p>

<h2>Encoje tu clase</h2 >

<p> Cuando te crees a tu personaje, antes incluso de asignar tus estadísticas, deberías de decir
    qué clases vas a escoger. Puedes mirar todas las que existen en la <a href="/clases">página
    de clases</a>. También te recomiendo que eches un vistazo al <a href="/clases-arbol">árbol de
    clases</a> para ver la relación de madre e hija que hay entre ellas. (También está al final
    de esta página.) </p> 

<p> En el árbol verás que hay dos ramas principales: la que parte de <a href="/clases/40">Luchador</a>
    y la que parte de <a href="/clases/12">Mago</a>. Si quieres ser un luchador especializado en
    ataques físicos, serás luchador y alguna clase hija de la misma que más te guste. Si quieres,
    en vez de eso, hacer magia, pues ya sabes. </p>

<p> Las clases hijas de Luchador son por lo general más sencillas. Especialmente
    <a href="/clases/10">Camorrista</a>; esta se centra en ataques físicos con tu propio cuerpo,
    puñetazos, patadas, etc. Te dedicas a derrotar a los enemigos a base de hostias y ya está. 
    <a href="/clases/16">Guerrero</a>, <a href="/clases/19">Arquero</a> y <a href="/clases/17">Pícaro</a>
    también son bastante fáciles de usar. </p>

<p> Por otro lado, las clases hijas de Mago suelen añadir alguna mecánica que le da una vuelta más
    a cómo funciona tu personaje. Además de que vas a tener que estar preocupándote por el maná
    también. <a href="/clases/36">Piromante</a> y <a href="/clases/48">Criomante</a> tal vez sean
    las más sencillas de llevar. Cada una centrada en su propio estado alterado. </p>

<p> Otras clases a destacar son <a href="/clases/25">Alquimista</a> y sus hijas, más centradas en
    utilidad fuera del combate. También <a href="/clases/98">Chica Mágica</a>, esta clase trae
    bastantes reglas pero en pos de simplificar su funcionamiento durante el juego, por lo que
    necesita un pelín más de tiempo para aprenderla pero luego es muy sencilla de usar; además
    no en requisitos que luego la rolees como una "chica mágica" literalmente, la puedes interpretar
    un poco a tu gusto. </p>

<p> Luego, respecto a las razas, no tienes que preocuparte demasiado. Simplemente escoge la que
    se corresponda con tu personaje (o ninguna si eres humano). Tal vez tu raza tenga habilidades
    interesantes pero tu personaje no tiene por qué usarlas. Aunque algunas razas sí se prestan
    más a crear a tu personaje al rededor de ellas. </p>

<h2>Escoge tus habilidades</h2>

<p> En cuanto a habilidades, ve mirando las de tus clases y recuerda también echar un vistazo a las
    <a href="/clases/102">habilidades independientes</a>. Algunas de ellas podrían encajar con lo
    que buscas y otras permiten crear personajes únicos. Especialmente las de nivel 0. Como éstas
    no son de ninguna clase y no cuesta nivel, absolutamente todos los personajes pueden aprenderlas
    inmediatamente. Pero tampoco quieres llenarte la ficha de habilidades que nunca vas a usar, por lo
    que apúntate sólo las que creas que sean más interesantes para tí. </p>

<h2>Escoge tu equipamiento inicial</h2>

<p> Por último echa un vistazo a tu equipamiento inicial. Ve mirando qué te vas a comprar y pensando
    un poco qué resultado de tus dados vas a dejar para el oro. Seguramente quieras algo de
    <a href="/categs/6">amadura</a> y si eres luchador necesitarás algún tipo de <a href="/categs/5">arma</a>.
    Podrías mirar si te puedes permitir algún <a href="/categs/7">catalizador</a> interesante si eres mago.
    Y también hay <a href="/categs/9">accesorios</a> interesantes y recuerda que algo de
    <a href="/categs/18">comida</a> y <a href="/categs/1">pociones</a> siempre vienen bien en cualquier
    caso.</p>

<h2>Asigna tus estadísticas</h2>

<p> Por último normalmente asignarás tus estadísticas a base de lo que necesite tu clase. Intenta asignar
    los valores más altos a aquellas estadísticas que sean más importantes según tu estrategia. Pero deja
    siempre algo razonable en constitución para que no mueras demasiado fácilmente por sangre. </p>

<br>
<br>

<p> Después de todo recuerda que eres totalmente libre de crear tu personaje como quieras y buscar la
    estrategia que más te guste. No tienes que limitarte a una clase, muchas de ellas tienen sinergias
    entre ellas y más para las nuevas clases que son hijas de más de una. Lo único importante es que
    tengas alguna idea en mente de cómo quieres construir tu personaje de cara al futuro especialmente
    para escoger ahora las clases radicales que necesitarás más adelante. </p>

<br>
<br>
<br>
</div>

<%= image_tag "ArbolDeClases.png", class: "arbol" %>
